* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-image: url('./resources/background.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.background {
  background: white;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  font-size: 4vw; 
  margin-top: 1rem;
}

.board-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%; 
}

.square {
  height: 10rem;
  width: 10rem; 
  margin: .5vw .5vh; 
  color: black;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  border-radius: 5px;
}

.status {
  color: black;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  margin-bottom: 1rem;
}

.modal-container {
  text-align: center;
  margin: 2rem;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-inner {
  color: black;
  font-size: 1.5rem;
  max-width: 90vw;
}

.button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: lightgrey;
  border-radius: 5px;
}

.modal-inner button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: lightgrey;
  height: 2rem;
  width: 7rem;
  margin-top: 1rem;
}

.moves {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  list-style-type: none;
}

.moves button {
  height: 1.2rem;
  width: 9rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .board-row {
    max-width: 90vw;
  }

  .square {
    height: 8rem;
    width: 8rem;
    font-size: 3rem;
  }

  .status {
    font-size: 2rem;
  }

  .moves button {
    height: 1.2rem;
    width: 5rem;
    font-size: .5rem;
  }
}